garmentgym/cloth3d*
garmentgym/dress*
garmentgym/trousers
garmentgym/skirt

garmentgym/PyFlex/bindings/build
garmentgym/PyFlex/demo/compiler/makelinux64/.deps
garmentgym/PyFlex/demo/compiler/makelinux64/build
garmentgym/PyFlex/examples/build
garmengym/PyFlex/examples/cmake-build-debug
garmentgym/PyFlex/bindings/cmake-build-debug


garmentgym/PyFlex/bindings/examples/tmp
garmentgym/PyFlex/bindings/examples/*.avi
garmentgym/PyFlex/bindings/examples/*/
garmentgym/PyFlex/bindings/examples/*.gif

__pycache__/
